.cont-publication {
  display: flex;
  gap: 60px;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--gray-dark);
  padding: 80px 100px;
}


.box-publication {
  overflow: hidden;
  background-color: var(--blaco-letras);
  width: 250px;
  border-radius: 7px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}
.box-publication:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

.cont-img-public {
  width: 100%;
  height: 150px;
}
.img-public {
  width: 100%;
  height: 100%;
}

.footer-public {
  padding: 10px;
  text-align: left;
}
.footer-public p:first-child {
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
}

.footer-public p:nth-child(2) {
  color: gray;
}
.footer-public p:nth-child(3) {
    font-weight: bold;
    font-size: 16px;
}
.footer-public span {
    font-size: 10px;
  }


.footer-public .btn {
  background-color: #712cf9;
  padding: 10px 20px;
  color: var(--blaco-letras);
  font-weight: bolder;
  border: 2px solid #712cf9;
  border-radius: 3px;
}
.footer-public .btn:hover {
    background-color: var(--blaco-letras);
    color: #712cf9;
  }


  @media(max-width:600px){
    .cont-publication{
        padding: 60px 50px;
    }
  }
  @media(max-width:500px){
    .cont-publication{
        padding: 60px 25px;
    }
  }