.cont_porfile {
  min-height: 100vh;
}

.porfile {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0px;
  border-bottom: 1px solid var(--border);
  background-color: var(--profile-user);
}

.cont_porfile .publication {
  background-color: var(--all-gray);
}
.title-publication {
  background-color: var(--border-upload);
  padding: 10px;
  text-align: center;
}
.title-publication h1 {
  color: var(--letras-gray);
}
